.feynman__link {
  text-decoration: none;
  position: absolute;
  right: 48px;
  bottom: 50%;
  line-height: 51px;
  font-size: 36px;
  color: #000000;
  transition: opacity 0.4s ease;
}

.feynman__link:hover {
  opacity: .6;
}
